# Ignorar node_modules en backend
/backend/node_modules/

# Ignorar node_modules en frontend
/frontend/node_modules/

# Ignorar archivos de log
*.log

# Ignorar archivos de entorno
*.env

# Ignorar build/dist
/frontend/dist/
/backend/build/
